@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./Fonts/Roboto/Roboto-Black.ttf) format("truetype");
}
@font-face {
  font-family: "Anton";
  src: local("Anton"), url(./Fonts/Anton/Anton-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Cinzel";
  src: local("Cinzel"),
    url(./Fonts/Cinzel/Cinzel-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Josefin_Sans";
  src: local("Josefin_Sans"),
    url(./Fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf)
      format("truetype");
}
@font-face {
  font-family: "Oswald";
  src: local("Oswald"),
    url(./Fonts/Oswald/Oswald-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Mercellus";
  src: local("Mercellus"),
    url(./Fonts/Marcellus/Marcellus-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"),
    url(./Fonts/Quicksand/Quicksand-VariableFont_wght.ttf) format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  background-color: white;
  margin: 0;
  padding: 0;
}
.Header {
  text-align: center;
  background-color: rgb(247, 75, 75);
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-items: baseline;
}
.Header > h5 {
  color: white;
  font-weight: 600;
  font-size: small;
  letter-spacing: 2px;
  font-family: Quicksand;
}
.Header > p {
  color: white;
  font-size: small;
  font-weight: 500;
  font-family: Mercellus;
}
.Header > .ml12 {
  font-weight: 200;
  font-size: medium;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  font-family: Mercellus;
}

.Header > .ml12 .letter {
  display: inline-block;
}
.NavBar {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-areas: "Logo Nav";
  align-items: baseline;
  background-color: rgb(61, 62, 63);
  width: 100%;
}
.NavBar > .logo {
  grid-area: Logo;
}
.NavBar > .logo > a > h3 {
  color: white;
  font-family: Cinzel;
  padding: 10px 10px;
  text-align: center;
  margin-top: 5px;
  letter-spacing: 2.5px;
}
.NavBar > .logo > a:hover {
  text-decoration: none;
}
.NavBar > .nav {
  grid-area: Nav;
}
.NavBar > .nav > .cart {
  margin: 5px 10px;
}
.NavBar > .nav > .cart > a > i {
  float: right;
}
.NavBar > .nav > ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  text-align: center;
}
.NavBar > .nav > ul > li {
  padding: 0px 10px;
  display: table-cell;
  position: relative;
}
.NavBar > .nav > ul > li > a {
  color: rgb(160, 160, 160);
  font-family: Roboto;
  font-size: small;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.NavBar > .nav > ul > li > a:hover {
  color: white;
}
.NavBar > .nav > ul > li > a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.NavBar > .nav > ul > li > a:hover:after {
  width: 100%;
  left: 0;
}
.NavBar > .nav > ul > li > form {
  margin: 5px 0px;
  text-align: center;
  border: 1px solid rgb(168, 168, 168);
  padding: 0px 8px;
}
.NavBar > .nav > ul > li > form > input[type="search"] {
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  color: white;
  letter-spacing: 1px;
  border-radius: 0px;
}
.NavBar > .nav > ul > li > form > i {
  color: #000;
  position: relative;
  top: 3px;
}
.NavBar > .nav > .cart > a > span {
  border-radius: 50%;
}

/* Humburger Menu */
.menu-container {
  position: relative;
  top: 0;
  right: 0;
  z-index: 2;
  display: none;
}
.menu-container > .toggler {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  opacity: 0;
  z-index: 3;
}
.menu-container .Humburger {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(187, 187, 187);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.menu-container > .Humburger div {
  position: absolute;
  width: 50%;
  height: 3px;
  border-radius: 1.5px;
  background-color: white;
  transition: 0.4s;
}
.menu-container > .Humburger div::before,
.menu-container > .Humburger div::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
  background-color: white;
  transition: 0.4s;
}
.menu-container > .Humburger div::before {
  top: -10px;
  left: 0;
}
.menu-container > .Humburger div::after {
  top: 10px;
  left: 0;
}
.menu-container > .toggler:checked + .Humburger div {
  transform: rotate(135deg);
  text-align: center;
}
.menu-container > .toggler:checked + .Humburger div::before,
.menu-container > .toggler:checked + .Humburger div::after {
  transform: rotate(90deg);
  top: 0;
  right: 0;
}
.menu-container > .toggler:checked ~ .menu {
  visibility: visible;
}
.menu-container > .toggler:checked ~ .menu div {
  transform: translateX(-50%) translateY(-50%);
}
.menu-container > .menu {
  height: 100vh;
  width: 50vw;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  transition: 0.6s;
}
.menu-container > .menu div {
  position: absolute;
  width: 1600px;
  height: 1600px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translateX(-150%) translateY(-50%);
  background-color: rgb(95, 95, 95);
  transition: 0.6s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-container > .menu div div {
  max-width: 90vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 2;
}
.menu-container > .menu div div ul {
  list-style: none;
}
.menu-container > .menu div div ul li {
  margin: 0.5rem;
  display: block;
  font-size: 2rem;
  font-weight: 550;
  text-transform: uppercase;
  color: #fff;
  transition: 0.3s;
}
.menu-container > .menu div div ul li:hover {
  color: black;
}

.parallax {
  max-width: 100%;
  background-color: white;
  position: relative;
  font-family: Anton;
  padding: 20px 0px;
}
.parallax > h1 {
  position: absolute;
  top: 50%;
  left: 10%;
  letter-spacing: 1.5px;
  font-size: 4.5rem;
  color: white;
  border-bottom: 5px solid rgb(255, 255, 255);
  border-radius: 50%;
  text-align: center;
  text-decoration: underline;
}
.parallax > h1 > #for {
  font-size: 25px;
  text-decoration: none;
  letter-spacing: 1.5px;
}
.parallax > h1 > button {
  font-family: Mercellus;
  text-transform: uppercase;
  color: black;
  background-color: white;
  border-radius: 0px;
  font-size: medium;
  letter-spacing: 0.5px;
  border: none;
}
.parallax > h1 > button:hover {
  transition: all 0.5s ease-in-out;
  background-color: rgb(29, 29, 29);
  color: white;
}
.parallax > h1 > button:active,
:focus {
  outline: none;
}
.parallax > video {
  max-width: 100%;
  width: 100%;
}
.heading {
  text-align: center;
  font-family: Cinzel;
  padding: 15px 0px;
  margin: 30px 0px;
}
.row {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas: "Product Product Product";
  grid-gap: 20px;
  padding: 10px 0px;
}
.Content {
  grid-area: Product;
}
.Product {
  background-color: transparent;
  width: 360px;
  height: 500px;
  perspective: 1000px;
}

.Product-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.Product:hover .Product-inner {
  transform: rotateY(180deg);
}

.Product-front,
.Product-back {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.Product-front {
  color: black;
}
.Product-front > img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
}

.Product-back {
  padding: 10px 5px;
  color: black;
  transform: rotateY(180deg);
}
.Product-back > h1 {
  font-family: Cinzel;
  margin-bottom: 70px;
  color: #000;
}
.Product-back > p {
  font-family: Josefin_Sans;
  color: rgb(65, 65, 65);
}
.Product-back > h3 {
  font-family: Oswald;
  font-weight: 600;
  color: rgb(65, 65, 65);
}
.Product-back > .btn {
  margin-top: 30px;
  border: 1px solid black;
  border-radius: 0px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-weight: 600;
  padding: 8px 12px;
  transition: 0.8s ease;
}
.Product-back > .btn:hover {
  color: whitesmoke;
  background-color: rgb(80, 80, 80);
}
.Items {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 10px;
  padding: 10px 10px;
}
.product-card {
  text-align: center;
  transition: 0.4s ease-in-out;
}
.product-card > img {
  max-width: 100%;
  width: 100%;
  align-self: center;
}
.product-card > .details > h4 {
  font-family: Cinzel;
  color: black;
}
.product-card > .details > h6 {
  font-family: Josefin_Sans;
  font-size: 18px;
  color: black;
}
.product-card > .details > p {
  font-size: 20px;
  font-family: Oswald;
  font-weight: 600;
  color: rgb(53, 53, 53);
}
.product-card > .details > button {
  border: 1px solid black;
  font-size: 13px;
  padding: 10px 13px;
  border-radius: 0px;
  color: #000;
  background-color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.6s ease-in-out;
}
.product-card > .details > button:active,
:focus {
  outline: none;
  border: none;
}
.product-card:hover > .details > button {
  background-color: rgb(39, 39, 39);
  color: whitesmoke;
}
.product-card:hover {
  box-shadow: 0px 18px 10px -15px gray;
}

.ads {
  background-color: white;
  margin: 5rem 0;
}
.ads > img {
  max-width: 100%;
  width: 100%;
  background-color: white;
}
.simpleParallax {
  max-width: 100%;
  width: 100%;
  background-image: url(./images/Parallax.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin: 50px 0px;
  font-family: Josefin_Sans;
}
.simpleParallax > h1 {
  text-align: center;
  color: white;
  padding-top: 250px;
}
.About {
  padding: 1rem 5rem;
  font-family: Mercellus;
  margin: 5rem 0;
  text-align: left;
  border-left: 20px solid rgb(201, 201, 201);
  border-right: 20px solid rgb(201, 201, 201);
  border-radius: 200px;
}
.About > h2 {
  font-weight: bold;
  color: rgb(75, 75, 75);
  letter-spacing: 1.5px;
}
.About > h5 {
  letter-spacing: 1px;
  font-weight: 600;
  color: rgb(65, 65, 65);
}

.About > p {
  font-weight: 400;
  color: rgb(75, 75, 75);
  line-height: 25px;
}

.tabs {
  margin-top: 30px;
  border-bottom: 1px solid rgb(167, 167, 167);
}
.tabs > button {
  padding: 10px 10px;
  margin: 2px 5px 0px 5px;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-family: Josefin_Sans;
  letter-spacing: 1px;
  font-weight: 600;
}
.tabs > button:focus {
  color: rgb(231, 92, 67);
  border-bottom: 5px solid rgb(231, 92, 67);
}
.tabs > button:focus,
:active {
  outline: none;
  border-radius: 0px;
}
.tab {
  height: 300px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: Mercellus;
  text-align: center;
}
table > tr {
  padding: 15px 20px;
}
table > tr > td {
  text-align: left;
  font-size: 15px;
  font-weight: 600;
  border-top: 0.5px solid #d5d5d5;
  padding: 15px 20px;
}
table > tr > #topic {
  background-color: rgb(247, 247, 247);
  text-transform: uppercase;
  color: #000;
}
table > tr > #detail {
  font-size: 14;
  color: gray;
}
.History {
  text-align: left;
}
#Review {
  padding: 10px 0px;
}
.History > h5 {
  font-weight: 600;
  padding: 10px 0px;
  font-size: 25px;
}
.History > p {
  word-spacing: 1px;
}

.item-card {
  text-align: center;
  font-size: small;
  width: 250px;
}
.item-card > img {
  max-width: 100%;
  width: 100%;
}
.item-card > .item-details > h6 {
  font-family: Cinzel;
  font-size: 20px;
  font-weight: 600;
}
.item-card > .item-details > h5 {
  font-family: Oswald;
  font-size: 18px;
  font-weight: 600;
  color: rgb(48, 48, 48);
}
.item-card > .item-details .btn {
  border: 1.5px solid black;
  color: #000;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 0px;
  padding: 10px 10px;
  margin: 5px 0px;
  font-weight: 600;
  transition: ease-in 1s;
}
.item-card > .item-details > .btn:hover {
  box-shadow: inset 400px 0 0 0 rgb(61, 61, 61);
  color: white;
}

.shop > a > i {
  background-color: whitesmoke;
  border-radius: 50%;
  padding: 10px 10px;
  color: black;
  margin: 10px 3px;
}
.cart-details {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  align-items: center;
  border-bottom: 1px solid gray;
  margin: 20px 0px;
  text-align: center;
}
.cart-details > .product-image {
  max-width: 100%;
  width: 100%;
  height: 200px;
}
.cart-details > .product-title > h1 {
  font-family: Cinzel;
  font-size: 23px;
  font-weight: 400;
  color: #000;
}
.cart-details > .product-price > h4 {
  font-family: Oswald;
  font-size: 23px;
  font-weight: 400;
  color: rgb(48, 47, 47);
}
.cart-details > .order > button {
  padding: 8px 12px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  background-color: transparent;
  color: rgb(43, 43, 43);
  font-weight: 600;
  border-radius: 0px;
  border: 1px solid black;
  transition: 0.6s ease-in;
}
.cart-details > .order > button:hover {
  box-shadow: inset 200px 0 0 0 rgb(61, 61, 61);
  color: whitesmoke;
}
.cart-details > .cancel > button {
  padding: 8px 12px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  background-color: transparent;
  color: rgb(43, 43, 43);
  font-weight: 600;
  border-radius: 0px;
  border: 1px solid black;
  transition: 0.6s ease-in;
}
.cart-details > .cancel > button:hover {
  box-shadow: inset 100px 0 0 0 rgb(192, 21, 21);
  color: white;
  border: 1px solid rgb(192, 21, 21);
}
.total-price {
  position: relative;
}
.total-price > h4 {
  position: absolute;
  right: 10%;
  padding: 5px 10px;
  color: rgb(58, 58, 58);
}
/* Footer Section */
.footer {
  background-color: rgb(48, 48, 48);
}
.footer > .content {
  background: transparent;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas: "Product Favorite Follow";
  grid-gap: 10px;
  font-family: Quicksand;
  padding: 20px 0px;
}
.footer > .content > .Products {
  grid-area: Product;
}
.footer > .content > .Products > h1 {
  color: rgb(201, 201, 201);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.8px;
}

.footer > .content > .Products > p {
  color: rgb(151, 151, 151);
  text-decoration: none;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.5px;
  margin-top: 30px;
  word-spacing: 2px;
}
.footer > .content > .Favorites {
  grid-area: Favorite;
  text-align: center;
}
.footer > .content > .Favorites > h1 {
  color: rgb(201, 201, 201);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.8px;
}
.footer > .content > .Favorites > ul {
  list-style: none;
  margin-top: 30px;
}
.footer > .content > .Favorites > ul > li > a {
  color: rgb(170, 170, 170);
  text-decoration: none;
  font-size: 15px;
}
.footer > .content > .Favorites > ul > li > a:hover {
  color: white;
}
.footer > .content > .contact {
  grid-area: Follow;
  text-align: center;
}
.footer > .content > .contact > h1 {
  color: rgb(201, 201, 201);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.8px;
}
.footer > .content > .contact > ul {
  margin-top: 30px;
  list-style: none;
}
.footer > .content > .contact > ul > li {
  padding: 10px 0px;
}
.footer > .content > .contact > ul > li > a {
  color: rgb(170, 170, 170);
}
.footer > .content > .contact > ul > li > a:hover {
  color: white;
}
.footer > #footer {
  background: transparent;
  width: 100%;
  text-align: center;
}
.footer > #footer > h1 {
  color: rgb(201, 201, 201);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.8px;
}
.footer > #footer > form {
  padding: 10px 0px;
}
.footer > #footer > form > input {
  width: 70%;
  padding: 10px 10px;
  background-color: transparent;
  border: 1px solid rgb(170, 170, 170);
  color: rgb(170, 170, 170);
  letter-spacing: 1.5px;
}
.footer > #footer > form > button {
  background-color: rgb(230, 230, 230);
  border: none;
  border-radius: 0px;
  margin: 15px 0px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.7px;
  padding: 10px 10px;
  transition: all 0.8s ease;
  font-size: 16px;
  font-family: Oswald;
}
.footer > #footer > form > button:hover {
  background-color: black;
  color: rgb(221, 221, 221);
}
.footer > #footer > form > button:active,
:focus {
  outline: none;
}
.footer > #footer > form > p {
  color: rgb(230, 230, 230);
  font-size: 12px;
  font-weight: 100;
  margin-top: 10px;
  letter-spacing: 1px;
}
/* ------------------------------- */

/* Tablet Landscape */
@media screen and (max-width: 1199px) {
  .Header > .ml12 {
    font-size: 10px;
  }
  .Header > h5 {
    font-size: 10px;
  }
  .Header > p {
    font-size: 10px;
  }
  .NavBar {
    display: grid;
    grid-template-columns: 20% 80%;
  }
  .NavBar > .logo > a > h3 {
    font-size: 20px;
  }
  .NavBar > .nav > ul > li > a {
    font-size: 10px;
    padding: 5px 5px;
  }
  .NavBar > .nav > .cart {
    padding: 0;
    margin: 0 20px;
  }
  .NavBar > .nav > .cart > a > i {
    font-size: 25px;
  }
  .NavBar > .nav > ul > li > form {
    font-size: 10px;
    margin: 0;
  }
  .parallax {
    padding: 0;
  }
  .parallax > h1 {
    font-size: 30px;
  }
  .parallax > h1 > #for {
    font-size: 22px;
  }
  .parallax > h1 > button {
    font-size: 17px;
    padding: 5px 8px;
    margin: 15px;
  }
  .heading {
    font-size: 28px;
    margin: 20px 0px;
    padding: 0;
  }
  .container {
    margin: 0;
    padding: 0;
  }
  .row {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: "Product Product Product";
    grid-gap: 10px;
    padding: 10px 0px;
    align-items: center;
  }
  .Product {
    width: 250px;
    height: 300px;
  }
  .Product-front,
  .Product-back {
    width: 200px;
    height: 300px;
    overflow: hidden;
  }
  .Product-back > h1 {
    margin-bottom: 30px;
    font-size: 23px;
  }
  .Product-back > p {
    font-size: 12px;
  }
  .Product-back > h3 {
    font-size: 16px;
  }
  .Product-back > span > i {
    font-size: 8px;
  }
  .Product-back > .btn {
    font-size: 10px;
    padding: 5px 5px;
    margin-top: 10px;
  }
  .About {
    padding: 1rem 5rem;
    font-family: Mercellus;
    margin: 5rem 0;
    text-align: left;
    border-left: 20px solid rgb(201, 201, 201);
    border-right: 20px solid rgb(201, 201, 201);
    border-radius: 200px;
  }
}
/* Tablet Portrait */
@media screen and (max-width: 999px) {
  .NavBar > .nav > ul > li > form {
    display: none;
  }
}
/* Mobile Landscape */
@media screen and (max-width: 767px) {
  .NavBar > .nav > ul > li > a {
    display: none;
  }
  .menu-container {
    display: block;
    position: relative;
  }

  .Content > .Product1 {
    width: 100%;
  }
  .footer > .content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
      "Product Product"
      "Favorite Follow";
    text-align: left;
  }
}
/* Mobile Portrait */
@media screen and (max-width: 480px) {
  .About {
    padding: 0 5px;
    margin: 0;
    border: none;
    text-align: center;
  }

  .footer > .content > .contact > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
